# PKC Mirorring configuration files
# 
#
# put your orginal server here
source_server_ip="34.211.228.221"
source_server_private_key="~/.ssh/OregonCluster.pem"
source_server_user="ubuntu"
source_server_domain="pkc-mirror.org"
#
# put your target server here
target_server_ip="54.148.193.125"
target_server_private_key="~/.ssh/OregonCluster.pem"
target_server_user="ubuntu"
target_server_domain="pkc-back.org"
