# MariaDB
version: "3.7"
services:
  web:
    container_name: xlp_nginx
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    volumes:
      - "./mountpoint/local-config/nginx.conf:/etc/nginx/nginx.conf"
      - "./mountpoint/local-config/cert:/etc/nginx/cert"
      - "./mountpoint/local-config/log:/etc/nginx/log"
    networks:
      pkcnet:
        ipv4_address: 192.168.100.10
  database:
    image: emhavis/pkc_mariadb:v0.1
    container_name: xlp_mariadb
    restart: always
    command: --lower-case-table-names=1 --transaction-isolation=READ-COMMITTED --log-bin=ROW --server-id=1 --character-set-server=utf8 --collation-server=utf8_unicode_ci
    environment:
      MYSQL_DATABASE: my_wiki
      MYSQL_USER: wikiuser
      MYSQL_PASSWORD: example
      MYSQL_ROOT_PASSWORD: secret
    volumes:
      # data file location
      - ./mountpoint/mariadb:/var/lib/mysql
      # backup and restore file location
      - ./mountpoint/backup_restore/mariadb:/mnt/backup_restore/mariadb
      # entry point
      - ./mysql-init:/docker-entrypoint-initdb.d
    ports: 
     - 3306:3306
    networks:
      pkcnet:
        ipv4_address: 192.168.100.70
  mediawiki:
    # default username/password: admin/admin_on_d0cker
    # image: xlp0/semanticwiki
    image: emhavis/pkc_semanticwiki:v1.37.1.build.2
    container_name: xlp_mediawiki
    # platform: linux/amd64
    #
    restart: always
    ports:    
    - ${PORT_NUMBER}:80
    links:
    - database
    volumes:
    # images file location
    - ./mountpoint/images:/var/www/html/images
    # backup and restore file location
    - ./mountpoint/backup_restore/mediawiki:/mnt/backup_restore/mediawiki
    # Localsettings location file
    - ./mountpoint/LocalSettings.php:/var/www/html/LocalSettings.php
    - ./backup/xml:/var/www/html/backup
    # Ansible working directory
    - ./mountpoint/ansible:/mnt/ansible
    depends_on:
    - database
    - web
    networks:
      pkcnet:
        ipv4_address: 192.168.100.30
  matomo:
    container_name: xlp_matomo
    image: docker.io/bitnami/matomo:4
    ports:
      - 32070:8080
    environment:
      - MATOMO_DATABASE_HOST=database
      - MATOMO_DATABASE_PORT_NUMBER=3306
      - MATOMO_DATABASE_USER=matomodb
      - MATOMO_DATABASE_NAME=matomo
      - MATOMO_DATABASE_PASSWORD=matomo-pass
    volumes:
      - "./mountpoint/matomo:/bitnami/matomo"
    depends_on:
      - database
      - web
    restart: always
    networks:
      pkcnet:
        ipv4_address: 192.168.100.50
#   keycloak:
#     container_name: xlp_keycloak
#     image: quay.io/keycloak/keycloak:15.0.2
#     environment:
# #      - KEYCLOAK_USER=admin
# #      - KEYCLOAK_PASSWORD=Pa55w0rd
#       - DB_VENDOR=mysql
#       - DB_ADDR=database
#       - DB_PORT=3306 
#       - DB_DATABASE=keycloak
#       - DB_PASSWORD=keycloak-pass
#       - DB_USER=keycloak
#       - JDBC_PARAMS=enabledTLSProtocols=TLSv1.2       #workaround for aurora
#       - JAVA_OPTS=-server -Xms1024m -Xmx1024m 
#       - PROXY_ADDRESS_FORWARDING=true
#     ports:
#     - ${KCK_PORT_NUMBER}:8080
#     depends_on:
#     - database
#     restart: always
networks:
  pkcnet:
    ipam:
      config:
        - subnet: 192.168.100.0/24
