#!/bin/bash

export HOST="{{ mysql_backup_hostname }}"
export TMPDIR="{{ mysql_backup_tmpdir }}"

export MYSQL_HOST="{{ mysql_backup_host }}"
export MYSQL_PORT="{{ mysql_backup_port }}"
export MYSQL_USER="{{ mysql_backup_user }}"
export MYSQL_PASS="{{ mysql_backup_pass }}"
export MYSQL_DB="{{ mysql_backup_db }}"

export BKP_PREFIX="{{ mysql_backup_archive_prefix }}"
export BKP_TSTAMP_FORMAT="{{ mysql_backup_archive_stamp }}"
export BKP_WARN_SIZE="{{ mysql_backup_warn_size }}"
{% if mysql_backup_fail_on_warn %}
export BKP_FAIL_ON_WARN="yes"
{% endif %}

{% if mysql_backup_backend_use_s3 %}
export S3_STORAGE="yes"
export S3_CFG="{{ mysql_backup_s3cfg_path }}"
export S3_BUCKET="{{ mysql_backup_s3.bucket }}"
{% endif %}

{% if mysql_backup_backend_use_scp %}
export SCP_STORAGE="yes"
export SCP_HOST="{{ mysql_backup_scp_host }}"
export SCP_USER="{{ mysql_backup_scp_user }}"
export SCP_IDENTITY="{{ mysql_backup_scp_identity }}"
export SCP_DST="{{ mysql_backup_scp_dst }}"
{% endif %}

{% if mysql_backup_slack_webhook is defined %}
export SLACK_WH_URL="{{ mysql_backup_slack_webhook }}"
{% endif %}
{% if mysql_backup_gzip %}
export BKP_GZIP="yes"
{% endif %}
{% if mysql_backup_encrypt_aes %}
export BKP_ENCRYPT_AES="yes"
export BKP_ENCRYPT_AES_KEY={{ mysql_backup_encrypt_aes_key }}
{% endif %}

exec {{ mysql_backup_script }} >>{{ mysql_backup_logfile }} 2>&1
